<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/liamstyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J-Macs Booking Page</title>

</head>
<body>
    <div>
        <h1>J-Macs Pool Club</h1>
        <img src="/poolball.png" alt="boy" class="w3-image" width="10%" >
        <p class="topp">
            This is an online booking system for J-Macs Pool Club Navan. Conveniently book your pool table online and enjoy a fun-filled experience at our club. Whether you're a beginner or a seasoned player, our online booking system ensures hassle-free reservations, allowing you to focus on the game. Join us at J-Macs Pool Club Navan for an unforgettable pool-playing experience!
        </p>
    </div>

    <div class="container">


        <div class="dropdown">
            <h3>Available Tables </h3>
            <p><%= dayOfWeek %> <%= formattedDate %></p>
    <button class="dropbtn">Select a Day</button>
    <div class="dropdown-content">
        <a href="/tables/0/j-macs-pool-club">Today</a>
        <% nextDays.forEach((day, index) => { %>
            <a href="/tables/<%= index + 1 %>/j-macs-pool-club"><%= day %></a>
        <% }); %>
    </div>
</div>



        <div class="tabcontainer">
            <!-- 16 buttons -->
            <% tableData.forEach(item => { %>
                <button class="button" onclick="showBookingAndSaveAlert('<%= item.id %>', '<%= item.tableType %>')"
                    style="background-color: 
                    <%= item.tableType === 'Snooker' ? '#cc6666' : 
                       item.tableType === '9-Ball' ? '#adaaa1' :
                       '#3e92cc' %>;">
                    
                    <%= item.clubNo %> <%= item.tableType %>
                  </button>
            <% }); %>
          </div>

    </div>

    <%- include('../partials/footer') -%>
          



<!-- Correct Sweet Alert For Both Functions -->
<script>
    function showBookingAndSaveAlert(tableNumber, tableSport) {
        // Make an AJAX request to fetch the available time slots for the selected table
        fetch(`/xxx/${tableNumber}?date=<%= formattedDate %>&day=<%= dayOfWeek %>`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch time slots.');
                }
                return response.json();
            })
            .then(timeSlots => {
                if (timeSlots.length === 0) {
                    // If no time slots are available, hide the input fields and display a message
                    Swal.fire({
                        title: 'Fully Booked',
                        text: 'This table is fully booked for the selected date and time. Please choose another table or date.',
                        icon: 'info',
                        confirmButtonText: 'OK'
                    });
                    return;
                }
    
                // Generate HTML content for the SweetAlert dialog with the fetched time slots
                const slotDivs = timeSlots.map(slot => `
                    <div class="time-slot" data-time="${slot}">${slot}</div>
                `).join('');
    
                // Create HTML content for input fields
                const inputFields = `
                    <input id="name" name="name" placeholder="Your Name" class="nice-input" required>
                    <input id="email" name="email" placeholder="Email" class="nice-input" required>
                    <input id="phone" name="phone" placeholder="Phone" class="nice-input" type="number" required>
                `;
    
                // Display SweetAlert dialog with time slot divs and input fields
                Swal.fire({
                    html: `
                        <p style="text-align: center;">Available Time Slots for:<br> ${tableSport} Table ${tableNumber}</p>
                        <p style="text-align: center;"><%= dayOfWeek %> <%= formattedDate %></p>
                        ${slotDivs}
                        ${inputFields}
                        `,
                    showCancelButton: true,
                    confirmButtonText: 'Book',
                    cancelButtonText: 'Cancel',
    
        confirmButtonColor: '#4CAF50', // Green for confirm button
        cancelButtonColor: '#f44336', // Red for cancel button
        confirmButtonStyle: 'padding: 2px 2px; border: none;width:40%; border-radius: 5px; cursor: pointer; margin-right: 10px;', // You can add more inline styles as needed
        cancelButtonStyle: 'padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;',
                    didOpen: () => {
                        // Add event listeners to time slot divs
                        document.querySelectorAll('.time-slot').forEach(slot => {
                            slot.addEventListener('click', () => {
                                // Toggle the selected class on the clicked time slot
                                slot.classList.toggle('selected');
                            });
                        });
                    }
                }).then((result) => {
                    if (result.isConfirmed) {

                        const name = document.getElementById('name').value;
                    const email = document.getElementById('email').value;
                    const phone = document.getElementById('phone').value;

                    if (!name || !email || !phone) {
                        // Show error message if any field is empty
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Please fill in all required fields.',
                        });
                        return;
                    }

                        // Get the selected time slots
                        const selectedSlots = Array.from(document.querySelectorAll('.time-slot.selected')).map(slot => slot.dataset.time);
    
                        // If no time slots are selected, display an error message
                        if (selectedSlots.length === 0) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Please select at least one time slot.',
                            });
                            return;
                        }
    
                        // Prepare data for POST request
                        const bookingData = {
                            dayOfWeek: '<%= dayOfWeek %>',
                            formattedDate: '<%= formattedDate %>',
                            tableNumber: tableNumber,
                            timeSlots: selectedSlots,
                            name: document.getElementById('name').value,
                            email: document.getElementById('email').value,
                            phone: document.getElementById('phone').value,
                            club: "J-Macs-Pool-Club"
                        };
    
                        // Make AJAX POST request to save booking
                        fetch('/bookings', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(bookingData)
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to save booking.');
                            }
                            return response.json();
                        })
                        .then(data => {
                            // Show success message
                            Swal.fire({
                                icon: 'success',
                                title: 'Booking Successful!',
                                text: 'Your booking has been confirmed.'
                            });
                        })
                        .catch(error => {
                            console.error('Error saving booking:', error);
                            // Show error message
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Failed to save booking. Please try again later.'
                            });
                        });
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching time slots:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Failed to fetch time slots. Please try again later.'
                });
            });
    }
    
    
    
    </script>
    
    <!--End correct alert -->

</body>
</html>
